/*
File Name: style.css
Date: October 2017
Programmer: Adrian Hawk, Matt LeBlanc, Nick Gibson
*/

/* MOBILE STYLESHEET */

header {
  background-image: url("http://via.placeholder.com/1920x800");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 6em;
}

body{
  background-color: #f5f5f5;
}

.topmenu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  transition: all 0.5s ease-in-out;
  text-align: right;
  padding: 15px
}
.topmenu #logo {
  float: left;
  margin-left: 4em;
  padding-top: 2px;
}

.topmenu ul li a {
  padding-top: 16px;
}
nav {
  background: linear-gradient(#111111, #2b4650);
/*   padding: 2em 0 2em; */
  border-bottom: 1px solid #97d1ed;
}

nav ul li a {
  text-decoration: none;
  color: #97d1ed;
  font-family: "Raleway", serif;
  font-size: 2em;
  display: inline-block;
  margin-right: 4em;
}

/* mouse over link */
.topmenu a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* selected link */
.topmenu a:active {
  color: rgb(122, 171, 245);
  font-weight: bold;
  text-decoration: none !important;
}

main {
  padding-top: 30px;
  height: 100%;
  background-color: #f5f5f5;
  background: linear-gradient(#2b4650, #111);
}

main article {

  background-color: #2b454f;
  border: 5px outset #115671;
  margin: 50px 10%;
  padding: 1px 0;
}

#title {
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

#title h1 {
  font-size: 4em;
  color: white;
  font-family: raleway;
}

#title span {
  position: relative;
}

#title span::before,
#title span::after {
  content: '';
  position: absolute;
  border-top: 1px solid white;
  top: 50%;
  width: 200px;
}

#title span::before {
  right: 100%;
  margin-right: 15px;
}

#title span::after {
  left: 100%;
  margin-left: 15px;
}

.about {
  background-color: #97d1ed;
  min-height: 200px;
  height: auto;
  padding: 10px;
  border: 5px rgb(0, 32, 146) outset;
  margin: 20px;
  margin-bottom: 60px;
}

.about h2 {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  text-shadow: 2px 2px 5px #272727;
  display: block;
  margin: 0px 0 15px 200px;
  padding-left: 15px;
}

.about p {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  display: block;
  margin-left: 200px;
  padding-left: 15px;
  text-indent: 50px;
}

.photo {
  object-fit: cover;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  float: left;
}

/* footer */
footer {
  background: linear-gradient(#111111, #222f41);
  min-height: 14em;
  padding-top: 2.5em;
}


footer a {
  text-decoration: none;
  color: #97d1ed;
  font-family: "Raleway", sans-serif;
}

footer h2 {
  color: white;
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  margin-bottom: .5em;
  padding-right: 1em;
}

footer h3 {
  font-size: 1.5em;
  padding-bottom: 1.2em;
}

footer p {
  color: #ffffff;
  font-size: 1em;
  text-align: center;
}
footer ul {
  padding-right: 1em;
}
footer ul li {
  color: #ffffff;
}

.cbar {
  clear: both;
  padding: 1em 0;
  width: 100%;
  background-color: #111111;
}

.sm-container {
  width: auto;
  margin: auto;
}
.social-media-list {
  width: auto;
  padding-right: 1em;
  padding-bottom: 7em;
}
.social-media-list li {
  display: block;
  float: left;
  text-align: center;
  margin: 0 auto;
  padding-right: .7em;
}
