main {
/*     text-align: center; */
}

main h4 {
    color: #97d1e7;
    font-size: 40px;
    padding-bottom: 20px;
}
main #subject {
    font-size: 28px;
    height: 28px;
    box-shadow: 4px 4px 16px #060606;
    padding-left: 5px;
}
main #entry {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px #060606;
    width: 98%;
    font-size: 22px;
}
fieldset {
    border: 4px ridge #adbac7;
    padding: 50px;
    padding-left: 60px;
    background: linear-gradient(#2b454f, #141617);
    position: relative;
    min-width: 550px;
}
fieldset label {
    font-size: 32px;
    margin-right: 12px;
    color: #bbccd6;
    text-shadow: 4px 3px 6px #060606;
    font-family: rajdhani;
}

fieldset button {
    border: 3px #9fbfcc ridge;
    padding: 10px 30px;
    background: linear-gradient(#7cdbff, #064c63);
    font-family: Raleway;
    color: #a9e8ff;
    font-size: 1.4em;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}
fieldset button:hover {
/*     border: 3px #5e8696 ridge; */
    color: #d7f4ff;
    border: 3px #6893a5 ridge;
    background: linear-gradient(#a8e3f9, #043444);
}
fieldset button:active {
    border: 3px #235569 ridge;
}
legend {
    background: linear-gradient(#24373e, #2a434d);
    color: #4db2ed;
    text-shadow: 4px 3px 6px #060606;
    font-size: 40px;
    margin-left: 5%;
    padding: 5px 10px;
    font-family: lato;
}
form {
    margin: 20px 10% 80px 10%;
}

form textarea {
    min-width:
}
.changeBackground {
    background: linear-gradient(#263c44, #2a434c);
    position: absolute;
    right: 5%;
    top: 0px;
    padding: 10
    height: 43px;
    width: 261.78px;
}
#changeWorkout {
    color: #abe7ff;
    text-shadow: 2px 1px 4px #131010;
    font-size: 20px;
    position: absolute;
    padding: 10px 30px;
    background: linear-gradient(#239fce, #003546);
    border: none;
    font-family: raleway;
    text-decoration: none;
    box-shadow: 2px 3px 20px #272626;
}
#changeWorkout:hover {
    color: #52ceff;
    background: linear-gradient(#33a9d6, #113c4a);
}
#changeWorkout:active {
    color: #1b86ae;
    background: linear-gradient(#1a84ab, #003546);
}

button:focus {
    outline: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#journalEntriesGoHere section {
    position: relative;
    border: 2px ridge #adbac7;
    padding: 40px;
    background: linear-gradient(#141617, #2b454f);
    min-width: 550px;
    margin-bottom: 40px;
}
#journalEntriesGoHere section a img {
    position: absolute;
    top: 45px;
    right: 35px;
    width: 45px;
}
#journalEntriesGoHere section a img:hover {
    content:url("../img/deleteHover.png");
    cursor: pointer;
}

#journalEntriesGoHere section h6 {
    font-size: 2.3em;
    color: white;
    font-family: Roboto;
    margin-bottom: .7em;
    width: 94%;
    display: inline-block;
    overflow-wrap: break-word;
}
#journalEntriesGoHere section h5 {
    position: absolute;
    bottom: 5px;
    right: 1%;
    font-size: 25px;
    color: #868686;
    font-family: roboto, sans-serif;
}

#journalEntriesGoHere section p {
    font-size: 1.5em;
    color: #f5f5f5;
    font-family: Raleway;
    overflow-wrap: break-word;
    line-height: 1.5em;
    white-space: pre-wrap;
}
#resultsWrap {
    max-width: 800px;
    margin: 0 auto;
    border: 2px ridge #adbac7;
    padding: 40px;
    background: linear-gradient(#141617, #2b454f);
    min-width: 550px;
    min-height: 250px;
    margin-bottom: 40px;
    margin-top: 20px;
}
#resultsWrap img {
  display: inline-block;
  padding-bottom: 40px;
  padding-right: 20px;
  float: left;
  width: 400px;
  height: 200px;

}
#resultsWrap p {
    font-size: 1em;
    display: block;
    color: #f5f5f5;
    font-family: Raleway;
    overflow-wrap: break-word;
    line-height: 1.5em;
    text-align: left;
    padding: 0 20px;
}
#results section {
  border: 2px ridge #adbac7;
  padding: 40px;
  background: linear-gradient(#141617, #2b454f);
  min-width: 550px;
  margin-bottom: 40px;
}
