/*
File Name: style.css
Date: October 2017
Programmer: Adrian Hawk, Matt LeBlanc, Nick Gibson
*/

/* MOBILE STYLESHEET */

img {
  max-width: 100%;
  height: auto;
}

header {
  background-image: url("../img/future.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 47em;
}

.midbar {
  clear: both;
  padding: 1em 0;
  width: 100%;
  background-color: #111111;
  text-align: center;
}

.midblock {
  width: 100%;
  background-image: url("../img/gym.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 2.3em;
  padding-bottom: 2.3em;
}

.midblock h1 {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 6em;
  padding: .5em 0;
}




.topmenu {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  transition: all 0.5s ease-in-out;
  text-align: right;
}

nav {
  text-align: center;
  background: linear-gradient(#111111, #2b4650);
  padding: 2em 0 2em;
  min-height: 1em;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #97d1ed;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  display: block;
  margin-right: 4em;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


nav ul li a:active {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* selected link */
a:active {
  color: rgb(122, 171, 245);
  font-weight: bold;
  text-decoration: none !important;
}

main {
  background-color: #f5f5f5;
}

main h1 {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  padding: 1em 1em .6em 1em;
  text-align: center;
  text-shadow: 2px 2px 5px #272727;
}
main h2 {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 2.1em;
  text-align: center;
  padding: 0em 1em 1em 1em;
  margin: 0 auto;
  text-shadow: 2px 2px 5px #272727;
}

main h2 {
  color: #000;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px 5px #272727;
}

main p {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 1.7em;
  margin: 0 auto;
  padding: 1em 1em 2em 1em;
  text-align: center;
}

main a {
  color: #97d1ed;
  font-size: 1.7em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display:inline-block;
  border: solid 1px #97d1ed;
  border-radius: 30px;
  text-align: center;
  background: linear-gradient(#111111, #2b4650);
  padding: .5em 1em .5em;
  margin: 0 auto;
  text-decoration: none;
}

main a:hover {
  background: linear-gradient(#111111, #327994);
  color: white;
  border: solid 1px #f7fcff;
}
.clearit {
  clear: both;
}

.lbar {
  background-color: rgb(5, 31, 124);
  height: .2em;
  width: 100%;
}

.centerwrap {
    max-width: 1120px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
  }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em auto;
  padding: 0;
  width: 26em;
}

footer {
  background: linear-gradient(#111111, #222f41);
  min-height: 14em;
  padding-top: 2.5em;
}


footer a {
  text-decoration: none;
  color: #97d1ed;
  font-family: "Raleway", sans-serif;
}

footer h2 {
  color: white;
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  margin-bottom: .5em;
  padding-right: 1em;
}

footer h3 {
  font-size: 1.5em;
  padding-bottom: 1.2em;
}

footer p {
  color: #ffffff;
  font-size: 1em;
  text-align: center;
}
footer ul {
  padding-right: 1em;
}
footer ul li {
  color: #ffffff;
}

.cbar {
  clear: both;
  padding: 1em 0;
  width: 100%;
  background-color: #111111;
}

.sm-container {
  width: auto;
  margin: auto;
  padding-left: 1.3em;
}
.social-media-list {
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 7em;
}
.social-media-list li {
  display: block;
  float: left;
  text-align: center;
  margin: 0 auto;
  padding-right: .7em;
}
